@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

body{
    font-family: 'Poppins', sans-serif;
}
header{
display: flex;
justify-content:space-between;
font-size:10px ;
}
h1{
    font-size: 50px;
}
.container p{
    font-size:30px;
}
.banner-area{
    display:flex;
    margin-bottom:100px ;
    align-items: center;
}
.container{
    width: 50%;
    padding-left: 5px;
}
.container > img:hover {
    width: 65%;
    transform: scale(1.2);
    transition:transform 1s;
}
.link-button{
    text-decoration:none;
    background-color: #e22e6d;
    padding: 10px 40px;
    color:white;
    border-radius: 15px;
}
/* collection-part-------------
----------------------start----------
--------- */
.collection{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 24px;
    margin: 20px 20px;
}
.collection-title{
    text-align: center;
}
.product{
    box-shadow: 7px 9px 10px;
    margin-bottom: 25px;
    border-radius: 10px;
    padding: 20px;

}

.product > img{
    width: 224px;
    height: 104px;
}

.fa-star{
    font-size: 12px;
}
.fa-star.filled{
    color:#FFC014;
}
.fa-star-half-alt{
    color:#FFC014;
}
.btn-un{
    width: 100%;
    float: right;
}
.btn-un > a{
    text-decoration: none;
    font-size: 20px;
    color: #e22e6d;
    line-height: 46px;
}
/* footer area */
.footer-area{
    padding: 20px 0;
    background-color: black;
    text-align: center;
    color: white;
}
.footer-contant{
    display:flex;
    justify-content: center;
    margin: 0px 15px;
    font-size: 18px;
    display: inline-block;
}
.footer-contant i{
    margin-left: 10px;
}